.container{
    width: 10000px;
    height: 10000px;
    background:linear-gradient(90deg, pink, lightblue,lightskyblue,purple, blue,yellow, red);
    display: block;
    justify-content: center;
    align-items: center;
}